<head>
    <link rel="stylesheet" href="/styles/layout.css"> 
    <link rel="stylesheet" href="/styles/content.css">
</head>
    
<body class="about-body">  
        <%- include("partials/header.ejs") %>
        <div class="about-div">
        <h1 id="about">
             About All About Fitness
        </h1>
    <p>
        Welcome to All About Fitness, your ultimate destination for all things related to health, fitness, and well-being.
        At All About Fitness, we are passionate about empowering individuals on their journey towards a healthier and happier lifestyle.
    </p>
    <p>
    <h2>Our Mission</h2>
        Our mission is to provide you with insightful, evidence-based content that inspires and guides you on your fitness journey.
        We believe that a healthy lifestyle goes beyond just physical exercise; it encompasses nutrition, mental well-being, and a holistic approach to achieving your fitness goals.
    </p>
    <h2>What We Offer</h2>
    <ul>
        <li><b>Expert Insights: </b> Our team of experienced fitness professionals, nutritionists, and mental health experts bring you expert insights, tips, and advice to help you make informed choices.</li>
        <li><b>Diverse Content: </b> From workout routines and nutritional guides to mental health tips and success stories, we cover a wide range of topics to cater to your diverse fitness needs.</li>
        <li><b>Community Support: </b> Join our growing community of fitness enthusiasts! Share your experiences, ask questions, and connect with like-minded individuals who are also on their fitness journey.</li>
    </ul>

    <h3>Why Choose All About Fitness?</h3>
    <ul>
        <li><b>Trustworthy Information: </b>We prioritize accuracy and reliability in our content. 
               You can trust All About Fitness to provide information that is backed by scientific research and professional expertise.
        </li>

        <li><b>Inclusivity: </b>Fitness is for everyone, regardless of age, gender, or fitness level. 
                Our content is inclusive and tailored to meet the needs of a diverse audience.
        </li>
    
        <li><b>Motivation: </b>Whether you're just starting your fitness journey or looking to elevate your current routine, we're here to motivate and support you every step of the way.
        </li>
    </ul>
    <h3>Join Us on the Journey</h3>
    <p>Embark on a journey to a healthier and happier you with All About Fitness. Explore our articles, engage with our community, and let's make fitness a lifestyle together!

        Thank you for choosing All About Fitness as your trusted source for all things related to fitness and well-being.
    </p>
    <h2 id="about">Stay Fit, Stay Healthy!</h2>
</div>
<%- include("partials/footer.ejs") %>
</body>
